h1 {
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
  text-transform: uppercase;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-weight: 500;
  width: 100%;
  text-align: center;
  color: black;
}
body {
  background-color: rgb(89, 130, 227);
  border-radius: 1px;
}
ul {
  list-style-type: inline;
  margin: 0;
  padding: 0;
  /*float: left;*/
}
.content {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  height: 100%;
  min-height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;

}
footer {
  text-align: center;
  padding-top: 20px;
}
.wrapper {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  background-color: white;
  max-width: 85%;
  margin: 0 auto;
  border-radius: 5px;
}
.links {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.links li {
  display: inline;
}
.links a{
    display:inline-block;
    padding:10px;
}
header {
  text-align: center;
  background-image: url("http://enjoycss.com/webshots/hq_0.png");
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
}
#bikepic {
  position: relative;
  max-width: 50%;
  max-height: 50%;
}
.degreeTitle {
  text-indent: 25px;
}
ul {
  list-style: none;
}
h2 {
  font-size: 25px;
}
#linkedinbutton {
  padding: 3px;
}
